/* Acá van tus reglas de estilo */
header {
    padding: 3px;
    margin: 0px;
    background-color: #fff;
    box-sizing: content-box;
}

body {
    width: 1005px;
    margin: 0 auto;
    font-family: sans-serif;
    color: #5e715c;
    background-image: url("img/love-colors.jpg");
  }
  
h1 {
    color: #b23165;
    font-size: 25px;
    text-align: center;
    margin: 10px;
  }

h2 {
    color: #b23165;
    font-size: 30px;
    text-align: center;
}

h3 {
    color: #b23165;
    font-size: 15px;
    text-align: center;
}

p {
    color: #5e715c;
    font-size: 15px;
    text-align: center;
    padding: 0px 20px;
    margin: 5px 0px 10px 0px;
  }

.cabecera{
    max-width: 1000px;
    margin-left: 200px;
}

.icono{
    max-width: 250px;
    max-height: 250px;
    margin-left: 370px;
}

.block1 {
    padding: 10px 10px 10px 10px;
    margin: 10px 0px 10px 0px;
    background-color: #fff;
    border: 0;
    height: 425px;
}

.block2 {
    padding: 20px 10px 40px 10px;
    margin: 20px 0px 40px 0px;
    background-color: #fff;
}

.block3 {
    padding: 20px 10px 40px 10px;
    margin: 20px 0px 40px 0px;
    background-color: #fff;
}

.block4 {
    padding: 20px 10px 40px 10px;
    margin: 20px 0px 40px 0px;
    background-color: #fff;
}

.block5 {
    padding: 20px 10px 40px 10px;
    margin: 20px 0px 40px 0px;
    background-color: #fff;
}

.block6 {
    padding: 20px 10px 40px 10px;
    margin: 20px 0px 40px 0px;
    background-color: #fff;
}

button {
    padding: 5px 0px;
    margin-left: 165px;
    width: 300px;
    color: #fff;
    font-size: 20px;
    font-family: sans-serif;
    background-color:#b23165 ;
    text-align: center;
    border-radius: 30px;
    cursor: pointer;
    display: block;
    margin-left: 340px;
}

.sendpassword {
    padding: 10px;
    margin: 0 70px 10px 70px;
    width: 300px;
    color: #724971;
    font-size: 15px;
    text-align: center;
    border-radius: 30px;
    margin-left: 330px;
}

.dedicatoriaoriginal {
    margin-left: 150px;
}

.dedicatoriaCifrada {
    margin-left: 150px;
}

textarea.textodedicatoria {
    margin-left: 125px;
}

.desplazamientooffset1{
    padding: 10px;
    margin: 0 70px 10px 70px;
    width: 300px;
    color: #724971;
    font-size: 15px;
    text-align: center;
    border-radius: 30px;
    margin-left: 340px;
}

#btnCifrar.btn2{
    padding: 5px 0px;
    width: 300px;
    color: #fff;
    font-size: 20px;
    font-family: sans-serif;
    background-color: #b23165;
    text-align: center;
    border-radius: 30px;
    cursor: pointer;
    display: block;
    margin-left: 340px;
}

textarea.textodescifrar{
    justify-content: center;
}

.desplazamientooffset2{
    padding: 10px;
    margin: 0 70px 10px 70px;
    width: 300px;
    color: #724971;
    font-size: 15px;
    text-align: center;
    border-radius: 30px;
    margin-left: 340px;
}

#btnDescifrar.btn3{
    padding: 5px 0px;
    width: 300px;
    color: #fff;
    font-size: 20px;
    font-family: sans-serif;
    background-color: #b23165;
    text-align: center;
    border-radius: 30px;
    cursor: pointer;
    display: block;
    margin-left: 340px;
}

.ocultar{
    display: none;
}

.iconoBloquear{
    max-width: 350px;
    max-height: 350px;
    margin-left: 325px;
}

textarea.txtresultadooriginal {

}