/* Acá van tus reglas de estilo */
header, footer {
    padding: 3px;
    margin: 0px;
    background-color: #fff;
    box-sizing: content-box;
}

body {
    width: 1005px;
    margin: 0 auto;
    font-family: sans-serif;
    color: #5e715c;
    background-image: url("img/love-colors.jpg");
  }
  
h1 {
    color: #b23165;
    font-size: 25px;
    text-align: center;
    margin: 10px;
  }

h2 {
    color: #b23165;
    font-size: 18px;
    text-align: center;
    margin:  15px 250px 15px 250px;
}

h3 {
    color: #b23165;
    font-size: 13px;
    text-align: center;
}

p {
    color: #5e715c;
    font-size: 13px;
    text-align: center;
    padding: 0px 20px;
    margin: 0px 190px 0px 190px;
  }

button {
    padding: 5px 0px;
    width: 300px;
    color: #fff;
    font-size: 20px;
    font-family: sans-serif;
    background-color:#b23165 ;
    text-align: center;
    border-radius: 30px;
    cursor: pointer;
    display: block;
    margin-left: 340px;
}

.cabecera{
    max-width: 1000px;
    margin-left: 200px;
}

.icono{
    max-width: 400px;
    max-height: 400px;
    margin-left: 300px;
}

.iconoBloquear{
    max-width: 500px;
    max-height: 500px;
    margin-left: 250px;
}

.block1, .block2, .block3, .block4, .block5, .block6 {
    padding: 20px 10px 40px 10px;
    margin: 10px 0px 10px 0px;
    background-color: #fff;
}

/* .block2 {
    padding: 20px 10px 40px 10px;
    margin: 10px 0px 10px 0px;
    background-color: #fff;
} */

/* .block3 {
    padding: 30px 10px 40px 10px;
    margin: 10px 0px 10px 0px;
    background-color: #fff;
}

.block4 {
    padding: 20px 10px 40px 10px;
    margin: 10px 0px 10px 0px;
    background-color: #fff;
}

.block5 {
    padding: 30px 10px 40px 10px;
    margin: 10px 0px 10px 0px;
    background-color: #fff;
}

.block6 {
    padding: 20px 10px 40px 10px;
    margin: 10px 0px 10px 0px;
    background-color: #fff;
} */

.cuadro {
    display: flex;
}

.cuadroDerecha{
    float: right;
    margin-right: 50px;
}

.cuadroIzquierda{
    float: left;
    margin-left: 50px;
}
.sendpassword {
    padding: 10px;
    margin: 0px 70px 10px 70px;
    width: 300px;
    color: #724971;
    font-size: 15px;
    text-align: center;
    border-radius: 30px;
    margin-left: 330px;
}

.dedicatoriaOriginal, .dedicatoriaCifrada {
    margin: 0px 220PX;
}

/* .dedicatoriaCifrada {
    margin: 0px 220PX;
} */

.desplazamientooffset1, .desplazamientooffset2{
    padding: 10px;
    margin: 0 70px 10px 70px;
    width: 300px;
    color: #724971;
    font-size: 15px;
    text-align: center;
    border-radius: 30px;
    margin-left: 340px;
}

/* .desplazamientooffset2{
    padding: 10px;
    margin: 0 70px 10px 70px;
    width: 300px;
    color: #724971;
    font-size: 15px;
    text-align: center;
    border-radius: 30px;
    margin-left: 340px;
} */

.ocultar{
    display: none;
}

#btnCifrar.btn2{
    padding: 5px 0px;
    width: 300px;
    color: #fff;
    font-size: 20px;
    font-family: sans-serif;
    background-color: #b23165;
    text-align: center;
    border-radius: 30px;
    cursor: pointer;
    display: block;
    margin-left: 350px;
}

.txtAviso1 {
    margin: 10px 190px 10px;
}

.txtAviso2 {
    margin: 300px 190px 10px;
}

.incorrecta {
    margin: 10px 0px;
    color: red; 
}

